@model homeworkEF.Models.ViewModel.MakeupViewModel

@{
    ViewData["Title"] = "Search";
}

<h1>Search</h1>

<h4>Makeup</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Search">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           <div class="row">
            <div class="form-group row col-md-2">
                <label asp-for="SearchParams.MinPrice" class="control-label text-info"></label>
                <input asp-for="SearchParams.MinPrice" class="form-control" />
                <span asp-validation-for="SearchParams.MinPrice" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-1"></div>
            <div class="form-group row col-md-2">
                <label asp-for="SearchParams.MaxPrice" class="control-label text-info"></label>
                <input asp-for="SearchParams.MaxPrice" class="form-control" />
                <span asp-validation-for="SearchParams.MaxPrice" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-1"></div>
           <div class="form-group row col-md-2">
                <label asp-for="SearchParams.Color" class="control-label text-info"></label>
                <input asp-for="SearchParams.Color" class="form-control" />
                <span asp-validation-for="SearchParams.Color" class="text-danger"></span>
            </div>
            <div class="form-group row col-md-1"></div>
            <div class="form-group row col-md-2">
                <input type="submit" value="Search" class="btn btn-warning "style="height:60%" />
            </div>
               <div class="form-group row col-md-1"></div>
            </div>
        </form>
    </div>
</div>

<h4>@ViewData["Message"]</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Makeups[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Makeups[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Makeups[0].Color)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Makeups ) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}